@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html,
body,
div,
span,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Ubuntu';
	vertical-align: baseline;

}

.header-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
}

.title-container {
  flex: 1; display: flex; flex-direction: column; justify-content: center;
}

.title {
  color: white;
  font-size: 74px;
  font-weight: bold;
}

.first-divider {
  width: 100%;
  bottom: -1px;
  height: 150px;
  transform: rotateX(180deg);
  position: absolute;
  background-repeat: no-repeat;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMTI4MCAxMDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEyODAgMTAwOyIgIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMHB4Ij4KICA8ZyBmaWxsPSIjZmZmZmZmIj4gCjxwYXRoICBkPSJNMCw4Mi43YzAsMCwyODAuMyw1MCw2MTItMzEuM3M2NjgsMCw2NjgsMFYwSDBWODIuN3oiLz4KICA8L2c+Cjwvc3ZnPg==');
}

.header-image-container {
  flex: 1;
  padding: 64px 64px 0;
}

.objectives {
  display: flex;
  list-style-type: none;
  background-color: #cb6ce6;
  margin-bottom: -250px;
  z-index: 2;
  flex-wrap: wrap;
}

.objective-item {
  color: white; width: 25%;
}

.contact-button {
  width: 50%;
  padding: 20px;
  border-radius: 32px;
  margin-top: 24px;
  background-color: #cb6ce6;
  color: white;
  text-decoration: none;
  text-align: center;
}

.objective-item-container {
  padding: 50px 50px;
}

.objective-item-container > h2 {
  margin-bottom: 8px;
}

.objective-item-container > p {
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .header-image-container {
    padding: 32px 32px 0;
  }

  .objective-item {
    width: 50%;
  }

  .title {
    font-size: 40px;
  }

  .title-container {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .title-container {
    margin-top: 64px;
  }

  .header-image-container {
    display: flex;
    justify-content: center;
  }

  .header-image-container > img {
    max-width: 400px;
  }

  .header-container {
    flex-direction: column;
  }
  
  .objective-item {
    width: 100%;
  }

  .title {
    font-size: 64px;
  }

  .title-container {
    align-items: flex-start;
    text-align: left;
  }
}