* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Ubuntu';
	vertical-align: baseline;
}

.menu {
  background-color: black;
  position: relative;
}

.menu-container {
  display: flex;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 16px;
}

.menu-content {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-content > ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  list-style-type: none;
}

.menu-content > ul > li > a {
  color: white;
  text-decoration: none;
  padding: 13px 20px;
  border-bottom: 2px solid transparent;
  display: block;
}

.menu-content > ul > li > a:hover {
  cursor: pointer;
  border-bottom: 2px solid #cb6ce6;
  color: #cb6ce6;
}

.menu-container > .logo >  img {
  width: 85px;
}

.header {
  background-color: black;
  padding-bottom: 140px;
  position: relative;
  background-image: url('./assets/images/back.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.header-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
  padding-top: 120px;
  padding-bottom: 80px;
}

.title-container {
  flex: 1;
  max-width: 595px;
}

.title {
  color: white;
  font-size: 38px;
  font-weight: bold;
}

.title > span {
  color: #cb6ce6;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.break-sm {
  flex-basis: 100%;
  height: 0;
  display: none;
}

.subtitle {
  color: white;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  font-family: 'Montserrat';
}

.first-divider {
  width: 100%;
  bottom: -1px;
  height: 60px;
  transform: rotateX(180deg) rotateY(180deg);
  position: absolute;
  background-repeat: no-repeat;
  background-image:url(assets/images/wave.svg);
}

.header-image-container {
  display: none;
}

.objectives {
  display: flex;
  list-style-type: none;
  background-color: #cb6ce6;
  margin-bottom: -250px;
  z-index: 2;
  flex-wrap: wrap;
}

.objective-item {
  color: white; width: 25%;
}

.contact-button {
  font-family: 'Montserrat';
  padding: 20px;
  border-radius: 32px;
  margin-top: 24px;
  background-color: #cb6ce6;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.contact-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.objective-item-container {
  padding: 50px 50px;
  position: relative;
}

.objective-number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 16px;
  font-size: 20px;
}

.objective-item-container > h2 {
  margin-bottom: 8px;
}

.objective-item-container > p {
  font-family: 'Montserrat';
}


.results-container {
  padding-top: 130px;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
}

.results-title > h2 {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 32px;
  color: #cb6ce6;
  font-weight: 400;
  padding: 0 16px;
}

.results-title > h3 {
  text-align: center;
  font-size: 62px;
  color: #252830;
  padding: 0 16px;
}

.result-images {
  display: flex;
  gap: 16px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0 16px;
}

.result-image-item {
  flex: 1;
}

.result-image-item > img {
  width: 100%;
}

.promo-container {
  padding-top: 320px;
  padding-bottom: 300px;
  background-color: black;
  position: relative;
  margin-top: 100px;
}

.promo-divider-top {
  background-image: url(assets/images/promo-divider.svg);
  width: 100%;
  height: 60px;
  position: absolute;
  top: -1px;
}

.promo-divider-bottom {
  background-image: url(assets/images/promo-divider.svg);
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -1px;;
  transform: rotateX(180deg);
}

.promo-content {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 32px;
}

.promo-title {
  color: white;
  font-size: 48px;
  width: 60%;
}

.promo-button {
  font-family: 'Montserrat';
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  padding: 20px 36px;
  border-radius: 200px;
  background-color: #cb6ce6;
  text-decoration: none;
  border: 0px solid #000000;
}

.step-by-step {
  margin-top: 100px;
}

.step-by-step-content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 80px;
  padding: 0 16px;
}

.step-by-step-content > div {
  flex: 1;
}

.step-by-step-title {
  font-size: 48px;
  padding-bottom: 10px;
  line-height: 1.2em;
}

.step-by-step-title-divider {
  padding-bottom:20px;
  margin-top: 10px;
}

.step-by-step-title-divider > div {
  display:inline-block;
  height:2px;
  max-width:50px;
  width:100%;
  background-color:#c25ddf;
}

.step-by-step-description {
  font-family: 'Montserrat';
  line-height: 1.8em;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.steps-row {
  display: flex;
  gap: 80px;
}

.steps-row > div {
  flex: 1;
}

.step-title {
  font-size: 32px;
  color: #cb6ce6;
}

.step-description {
  font-family: 'Montserrat';
  line-height: 1.8em;
  margin-top: 10px;
}

.time-offer {
  position: relative;
  margin-top: 100px;
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: linear-gradient(45deg, #cb6ce6 0%, #b40fe2 100%);
}

.time-offer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.time-offer-content > h2 {
  font-size: 62px;
  color: white;
  text-align: center;
}

.time-offer-content > p {
  font-size: 32px;
  color: white;
  text-align: center;
  margin-top: 20px;
}


.time-offer-content > a {
  border: 3px solid #fff;
  font-family: 'Montserrat';
  font-size: 21px;
  color: white;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 40px;
}

.time-offer-divider-top {
  position: absolute;
  top: -1px;
  width: 100%;
  height: 60px;
  background-image: url(assets/images/wave.svg);
}

.time-offer-divider-bottom {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 299px;
  background-image: url(assets/images/time-offer-divider.svg);
  transform: rotateX(180deg);
}

.depoiments {
  margin-top: 100px;
}

.depoiment-list {
  margin-top: 60px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 30px;
  padding: 0 16px;
}

.depoiment-list-item {
  flex: 1;
  border-top: 10px solid #cb6ce6;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 60px;
  transform: skewy(-5deg);
  max-width: 420px;
}

.depoiment-list-item__image {
  height: 65px;
  border-radius: 50%;
  position: absolute;
  top: -55px;
  border: 3px solid #cb6ce6;
  transform: skewy(5deg);
  background-image: url(assets/images/trainer.jpg);
  background-size: cover;
  width: 94px;
  height: 94px;
}

.depoiment-list-item__text {
  transform: skewy(5deg);
  padding: 45px 14%;
  text-align: center;
}

.depoiment-list-item__text > p {
  padding: 16px 0;
  line-height: 1.8em;
  font-family: 'Montserrat';
}

.depoiment-name {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 8px;
}

.depoiment-name > p {
  font-weight: 400;
  font-family: 'Montserrat';
}

.depoiment-name > span {
  color: #999999;
  font-weight: 400;
  font-family: 'Montserrat';
}

.pricing {
  position: relative;
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: linear-gradient(45deg, #cb6ce6 0%, #b40fe2 100%);
}

.pricing-divider-top {
  height: 60px;
  width: 100%;
  position: absolute;
  transform: rotateY(180deg);
  top: -1px;
  background-image: url(assets/images/wave.svg);
}

.pricing-divider-bottom {
  height: 60px;
  width: 100%;
  position: absolute;
  transform: rotateX(180deg) rotateY(180deg);
  bottom: -2px;
  background-image: url(assets/images/pricing-bottom.svg);
}

.pricing-container {
  padding: 0 16px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.pricing-title > h2 {
  color: white;
  font-size: 62px;
}

.pricing-title > p {
  color: white;
  margin-top: 20px;
  font-family: 'Montserrat';
  font-size: 32px;
}

.pricing-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin-top: 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-list > li {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.pricing-item-list {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 15px;
}

.pricing-item-list > li::marker {
  color: #cb6ce6;
  font-size: 14px;
  font-weight: bold;
}

.pricing-item-list > li {
  font-size: 14px;
  padding: 10px 0;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 1ch;
}

.pricing-item-header {
  padding: 30px;
  background-color: black;
  color: white;
}

.pricing-item-header > h2 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.pricing-item-header > h2 > small {
  font-size: 16px;
}

.pricing-item-header > p {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Montserrat';
  text-align: center;
}

.pricing-item-description {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.pricing-item-action {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: flex-end;
}

.pricing-item-action > a {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 32px;
}

.contacts {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 150px;
}

.contacts-container {
  display: flex;
  max-width: 1170px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.contact-item {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item > h3 {
  font-size: 32px;
  margin-top: 10px;
  text-align: center;
}

.contact-item > p {
  text-align: center;
}

.icon {
  background-image: url(assets/icons/social-media.png);
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  background-size: 70px;
}

.instagram {
  background-position: 0px -70px;
}

.youtube {
  background-position: 0px -140px;
}

.tiktok {
  background-position: 0px -210px;
}

/* @media screen and (max-width: 1024px) {
  .header-image-container {
    padding: 32px 32px 0;
  }

  .objective-item {
    width: 50%;
  }

  .title {
    font-size: 40px;
  }

  .title-container {
    align-items: center;
    text-align: center;
  }

  .results-title > h3 {
    font-size: 48px;
  }

  .promo-title {
    color: white;
    font-size: 48px;
    width: 80%;
  }

  .step-by-step-content {
    flex-direction: column;
  }

  .break-sm {
    display: block;
  }
} */

@media screen and (max-width: 1024px) {
  .header {
    background-image: none;
  }

  .objectives {
    order: 3;
    margin-top: 64px;
  }

  .title-container {
    margin-top: -30px;
    order: 2;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }

  .header-image-container {
    order: 1;
    display: flex;
    justify-content: center;
    padding: 64px 32px 0
  }

  .header-image-container > img {
    max-width: 400px;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  
  .objective-item {
    width: 100%;
  }

  .result-images {
    flex-direction: column;
  }

  .result-image-item {
    display: flex;
    justify-content: center ;
  }

  .result-image-item > img{
    max-width: 400px;
    max-height: 400px;
  }

  .steps-row {
    flex-direction: column;
    gap: 40px;
  }

  .step-by-step-content {
    gap: 40px;
    flex-direction: column;
  }

  .depoiment-list {
    flex-direction: column;
    align-items: center;
  }
  
  .pricing-list {
    align-items: center;
    flex-direction: column;
  }

  .pricing-list > li {
    width: 100%;
  }

  .contacts-container {
    flex-direction: column;
    gap: 30px;
  }
}

.carousel-container {
  width: 100%;
  position: relative;
}
.inner-carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.track {
  gap: 8px;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.card-container {
  width: calc(33.3% - 7px);
  min-height: 400px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .card-container {
    width: calc(100% - 8px);
  }
}
.card {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card > img {
  object-fit: contain;
}

.nav button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 40px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background-color: black;
}
.nav .prev {
  left: -10px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -10px;
}
.nav .next.hide {
  display: none;
}
